*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/
project/project
project/target/
src/main/java/
src/main/resources/
src/main/scala-2.10/
src/test/java/
src/test/resources/
src/test/scala-2.10/
